.Naves {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto); 
  gap: 20px;
  max-width: 90%;
  margin: 20px auto 55px;
  justify-items: center;
  justify-content: center;
}

.mio {
  font-weight: bold;
  color: #FFD700; 
  font-size: 0.7em;
}

.api {
  color: #FFFFFF;   
  font-style: italic;
  font-size: 0.7em;
}

.naves {
    background-color: #111; 
    border: 2px solid #ffd700;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.7); 
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 100%;
    text-align: left;
  }
  
  .naves:hover {
    transform: translateY(-5px); 
    box-shadow: 0 0 30px rgba(255, 215, 0, 1); 
  }
  

  
  .naves a:hover {
    color: #ffd700; 
    text-decoration: underline; 
  }
  
 