.Personajes {
  display: grid; 
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  max-width: 80%;
  height: max-content;
  margin: 20px auto 55px; 
  margin-bottom: 55px;
  justify-items: stretch;
  justify-content: center;
}

.personajes {
  background: #111;
  border: 2px solid #ffd700;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.5);
  text-align: center;
  margin-bottom: 0px;
  width: 100%;
  text-align: left;
}

.mio {
  font-weight: bold;
  color: #FFD700; 
  font-size: 0.7em;
  margin-bottom: 10px;
}

.api {
  color: #FFFFFF;   
  font-style: italic;
  font-size: 0.9em;
}


.personajes:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 25px rgba(255, 215, 0, 0.8);
}


.nombre {
  font-size: 0.9em;
  font-weight: bold;
  color: #ffd700;
  margin-bottom: 5px;
}

.altura,
.peso,
.color-cabello,
.colorPiel,
.colorOjos,
.nacimiento,
.genero,
.planeta {
  font-size: 1em;
  color: #dcdcdc;
  margin: 5px 0;
  text-align: left;
  font-weight: normal;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.divBoton {
  text-align: center;
  margin-top: 20px;
  width: 100%; 
  margin-bottom: 5%; 
}

button {
  background-color: black;
  color: #ffd700;
  border: none;
  padding: 8px 16px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  max-width: 6%;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.5);
}

button:hover {
  background-color: #ffd700;
  color: #000;
  transform: translateY(-2px);
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.5);
}

.buscador {
  position: relative;
  font-family: 'Star Jedi', sans-serif; 
  font-size: 18px;
  color: #ffcc00;
  background-color: #000;
  border: 2px solid #ffcc00;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  max-width: 90%; 
  outline: none;
  box-shadow: 0 0 10px rgba(255, 255, 0, 0.8); 
  transition: all 0.3s ease-in-out;
  margin: 0 auto; 
  display: block; 
}

.buscador::placeholder {
  color: #ffcc00;
  opacity: 0.7;
}
