.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.splide {
  position: fixed !important;
}

.splide-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-attachment: fixed;
  background-size: cover;
}

.splide-background .splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#navbarNav{
  animation: fadeInDownBig 1s ease;
}

.nav-item:hover{
  animation: heartBeat 1s ease;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: transparent;
  position: relative;
}

.titulo {
  background-image: url("@/assets/title2.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 14%;
  height: 14vh;
  position: relative;
  z-index: 5;
  ///////////////////
  animation: flip 2s ease;
  //////////////////////
}


.contenido {
  flex: 1;
  position: relative;
  z-index: 10;
  background-color: transparent;
  padding-top: 0vh;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  background-color: #000;
  color: #FFD700;
  padding: 15px 0;
  box-shadow: 0 0 55px rgba(255, 215, 0, 0.5);
  animation: fadeInUpBig 1s ease;
}

.footer .letra {
  line-height: 2.5;
  color: #FFD700;
}

.footer .letra1 {
  line-height: 2.5;
  color: #FFD700;
  margin: 0 auto;
  display: block;
}

.menu-item.router-link-active {
  color: #FFD700;
  text-decoration: none;
}

.menu-item.router-link-active:hover {
  color: black;
  background-color: #FFD700;
  text-decoration: none;
}

@media (max-width: 768px) {
  .splide-background {
    background-image: url("../assets/space.jpg"); 
    background-size: contain; 
    height: auto;
  }

  .splide-background .splide__slide img {
    object-fit: contain;
  }

  .titulo {
    background-size: 40%;
    height: 30vh;
  }

  .menu-item {
    font-size: 14px;
    padding: 5px 8px;
  }

  .header {
    padding: 10px;
  }
}


@media (max-width: 710px) {
  .splide-background {
    background-image: url("../assets/space.jpg");
    background-size: cover; 
    height: 100%;
  }
}

@media (max-width: 600px) {
  .titulo {
    background-size: 50%;
    height: 40vh;
  }

  .menu-item {
    font-size: 12px;
    padding: 4px 6px;
  }
}


@media (max-width: 400px) {
  .titulo {
    background-size: 60%;
    height: 50vh;
  }

  .menu-item {
    font-size: 10px;
    padding: 3px 5px;
  }
}


@media (max-width: 1200px) {
  .titulo {
    background-size: 20%;
    height: 20vh;
  }

  .menu-item {
    font-size: 14px;
    padding: 4px 8px;
  }
}



@import "/src/assets/PeliculasComponents.scss";
@import "/src/assets/PersonajesComponent.scss";
@import "/src/assets/PlanetasComponents.scss";
@import "/src/assets/NavesComponents.scss";
@import "/src/assets/EspeciesComponents.scss";
@import "/src/assets/VehiculosComponents.scss";
